@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --grey-dark: #505050;
    --grey: #999;
    --grey-light: #e5e5e5;
    --grey-light2: #e2e2e2;
    --blue: #2cd2f0;
    --light-blue: #eaeff5;
    --navy-blue: #4668ed;
    --red: #f02d2d;
    --red-light: #ee4d4d;
    --yellow: #f1d71a;
    --water: #40cea7;
    --green: #0ed08a;
    --pink: #ffb2c5;
    --pink-dark: #f02c64;
    --pink-dark2: #f5d5dd;
    --pink-light: #fef0f4;
    --purple: #cb6be6;
}

@font-face {
    font-family: 'heliosextregular';
    src: url('../fonts/heliosext.woff2') format('woff2'),
        url('../fonts/heliosext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heliosextbold';
    src: url('../fonts/heliosext-bold.woff2') format('woff2'),
        url('../fonts/heliosext-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--white);
    background-color: var(--black);
    font-family: 'heliosextregular';
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    font-family: 'heliosextbold';
    font-weight: normal;
    margin: 20px 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 0 0 20px;
}

strong {
    font-family: 'heliosextbold';
}

small,
.small {
    font-size: 12px;
}

img {
    width: 100%;
}


a {
    color: var(--pink-dark);
    text-decoration: none;
}

a:is(:hover, :focus) {
    color: var(--grey-dark);
    text-decoration: underline;
}

hr {
    opacity: .8;
    margin: 30px 0;
}

.hr-white {
    background-color: var(--white);
}

.hr-black {
    background-color: var(--grey);
}

/*buttons*/
.btn {
    border-radius: 2px;
    padding: 15px 40px;
    transition: all .9s ease;
    position: relative;
    z-index: 1;
}

.btn:is(:hover, :focus) {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--pink-dark);
    border-color: var(--pink-dark);
    color: var(--white);
}

.btn-primary:is(:hover, :focus) {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
}

.btn-black {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.btn-black:is(:hover, :focus) {
    background-color: transparent;
    color: var(--black);
}

.btn-primary:after,
.btn-black:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--white);
    transition: all .9s ease;
}

.btn-outline {
    background-color: transparent;
    color: var(--black);
    border-color: var(--black);
}

.btn-outline:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.btn-outline:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--black);
    transition: all .9s ease;
}

.btn-primary:hover:after,
.btn-black:hover:after,
.btn-outline:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

/*colors*/
.color-darkpink {
    color: var(--pink-dark);
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

.text-blue {
    color: var(--blue);
}

.text-yellow {
    color: var(--yellow);
}

.text-water {
    color: var(--water);
}

.color-bg {
    overflow: hidden;
    position: relative;
}

.color-bg.red {
    background-color: var(--red-light);
}

.color-bg.green {
    background-color: var(--green);
}

.color-bg.purple {
    background-color: var(--purple);
}

.color-bg.blue {
    background-color: var(--blue);
}

.color-bg.navy-blue {
    background-color: var(--navy-blue);
}

.color-bg.yellow {
    background-color: var(--yellow);
}

.color-bg.water {
    background-color: var(--water);
}

.slant {
    width: 104%;
    height: 75px;
    transform: rotate(1.8deg);
    position: absolute;
    left: -5px;
    right: 0;
    bottom: -25px;
    z-index: 0;
}

.slant.light-blue {
    background: var(--light-blue);
    transform: rotate(-1.8deg);
}

.slant.black {
    background: var(--black);
}

.slant.black.top {
    background: var(--black);
    top: -25px;
}

/*margins, paddings*/
.my-10 {
    margin: 100px auto;
}

.px-10 {
    padding: 0;
}

.py-8 {
    padding: 80px 0;
}

.py-10 {
    padding: 100px 0;
}

/*Header*/
.header {
    margin: 50px 0 20px 0;
    position: relative;
}

.header a:before,
.header a:after {
    bottom: 5px;
}

.title {
    font-family: "Pacifico", cursive;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
    margin: 0 0 10px;
}

.header a {
    text-decoration: none;
}

/*Nav Bar*/
.navbar-dark .navbar-brand {
    color: var(--black);
    font-weight: 500;
}

.navbar-dark .navbar-brand i {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid var(--pink);
    outline-style: solid;
    outline-color: var(--black);
    outline-width: 10px;
    margin: 1px 10px 0 0;
}

.navbar-dark .navbar-brand:hover i,
.navbar-dark .navbar-brand:focus i {
    border: 10px solid var(--black);
    outline-color: var(--pink);
    transition: all 0.35s ease;
}

.navbar-nav li {
    margin: 15px 0;
}

.navbar-nav .nav-link {
    color: var(--white);
    display: inline-block;
    margin: 0 20px;
    padding: 0 6px;
    position: relative;
}

.navbar-nav .nav-link:is(:hover, :focus) {
    color: var(--grey-dark);
    text-decoration: none;
}

.navbar-nav a:before,
.navbar-nav a:after {
    content: '';
    height: 7px;
    width: 7px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navbar-nav a:before {
    left: 0;
    top: 0;
    border-left: 3px solid var(--pink-dark);
    border-top: 3px solid var(--pink-dark);
    -webkit-transform: translate(100%, 50%);
    transform: translate(100%, 50%);
}

.navbar-nav a:after {
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--pink-dark);
    border-bottom: 3px solid var(--pink-dark);
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.navbar-nav a:hover:before,
.navbar-nav a:hover:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;  
}

.navbar-toggler {
    cursor: pointer;
    padding: 0;
    border: 0;
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 9999;
}

.navbar-toggler:after {
    display: inline-block;
    content: '';
    position: fixed;
    margin-top: -14px;
    width: 40px;
    height: 30px;
}

.navbar .collapse {
    display: flex;
    justify-content: center;
    background: var(--black);
    height: 100vh;
    width: 100vw;
    padding: 0;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 999;
    animation: .6s slide-out;
}

.navbar.mobileNav .collapse {
    right: 0;
    animation: .6s slide-in;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-toggler .navicon {
    background: var(--white);
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
}

.navbar-toggler .navicon:before,
.navbar-toggler .navicon:after {
    content: '';
    background: var(--white);
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar-toggler .navicon:before {
    top: 10px;
    width: 24px;
}

.navbar-toggler .navicon:after {
    top: -10px;
    width: 36px;
}

.navbar-expand-lg .navbar-collapse {
    display: none !important;
}

/*.navbar-expand-lg.mobileNav .navbar-collapse {
    display: flex !important;
    justify-content: center;
}*/

.menu-btn {
    display: none;
}

.menu-btn:checked~.navbar-toggler .navicon {
    background: transparent;
    width: 32px;
}

.menu-btn:checked~.navbar-toggler .navicon:before {
    transform: rotate(-45deg);
    width: 32px;
}

.menu-btn:checked~.navbar-toggler .navicon:after {
    transform: rotate(45deg);
    width: 32px;
}

.menu-btn:checked~.navbar-toggler:not(.steps) .navicon:before,
.menu-btn:checked~.navbar-toggler:not(.steps) .navicon:after {
    top: 0;
}

/*Footer*/
.footer {
    border-top: 1px solid var(--grey-dark);
    margin-top: 50px;
}

.footer .container {
    display: block;
    padding: 50px 0 0 0;
}

.footer .nav,
.footer .nav.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .nav.social {
    margin-top: 20px;
}

.footer .nav .nav-link {
    color: var(--dark);
    font-size: 1rem;
    margin: 0 20px;
    padding: 4px 0;
    position: relative;
}

.footer .nav.social .link {
    color: var(--pink-dark);
    font-size: .875rem;
    margin-right: 20px;
}

.footer .nav.social .ms-2 a {
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.footer .nav.social .ms-2 a:hover {
    background-color: var(--white);
}

.footer .nav.social .ms-2 a:hover svg {
    fill: var(--pink);
}

.copyright {
    color: var(--grey-dark);
    font-size: .825rem;
}

.link {
    display: inline-block;
    line-height: 14px;
    padding: 0 0 4px;
    position: relative;
}

.link:is(:hover, :focus) {
    color: var(--pink-dark);
    text-decoration: none;
}

.link:before,
.link:after {
    content: "";
    background-color: var(--pink-dark);
    display: block;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 1px;
}

.link:before {
    left: 50%;
}

.link:after {
    right: 50%;
}

.link:hover:before,
.link:hover:after {
    width: 50%;
}

/*Content Containers*/
.container {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.content {
    margin: 0;
}

.content-heading {
    position: relative;
}

.content-heading:before {
    display: none;
    content: '';
    height: 1px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #000 25%, #cecece 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(25%, #000), color-stop(100%, #cecece));
    background: -webkit-radial-gradient(center, ellipse cover, #000 25%, #cecece 100%);
    background: -ms-radial-gradient(center, ellipse cover, #000 25%, #cecece 100%);
    background: radial-gradient(ellipse at center, #000 25%, #cecece 100%);
    position: absolute;
    top: 54%;
}

.content-heading strong,
.content-heading i {
    position: relative;
    z-index: 99;
}

/*Home Banners*/
.banners {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
}

.banners .color-bg {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    min-height: 360px;
    padding: 80px 30px;
    width: 100%;
    transition: transform 0.5s;
}

.banners h2 {
    font-size: 60px;
    line-height: 55px;
    font-weight: bold;
    margin: 0 0 20px;
}

.banners h4 {
    color: var(--white);
    font-size: 14px;
    margin: 0;
}

.banners div:hover {
    cursor: zoom-out;
    transform: scale(1.1);
}

/*Hero Banners*/
.hero-banner {
    position: relative;
    max-height: 600px;
    min-height: 285px;
    overflow: hidden;
}

.hero-banner.contact {
    height: 420px;
    max-height: 420px;
}

.hero-banner.contact .pic {
    background-image: url('../images/hero-banner5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hero-banner .overlay,
.hero-banner .headings {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .overlay {
    background: var(--black);
    opacity: .4;
}

.hero-banner .headings {
    flex-direction: column;
    z-index: 999;
}

.hero-banner h2,
.hero-banner h3,
.hero-banner h4,
.hero-banner h5 {
    color: var(--white);
    font-weight: 600;
    text-shadow: 2px 2px var(--black);
}

.hero-banner h2 {
    font-size: 2.375rem;
}

.hero-banner h3 {
    font-size: 1.875rem;
    opacity: .7;
}

.hero-banner h4 {
    font-size: 1.5rem;
    opacity: .4;
}

.hero-banner h5 {
    font-size: 1..125rem;
    opacity: .25;
}

.hero-banner h2 span,
.blockquote h2 span {
    display: inline-block;
}

.blockquote h2 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

/* Cards */
.cards {
    background-color: var(--light-blue);
}

.cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid var(--grey-light);
    padding: 70px 30px 30px;
    margin: 50px 0 30px;
    width: 100%;
}

.card h4 {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.card p {
    color: var(--black);
    font-size: .825rem;
    margin: 0 0 20px;
}

.card .icon {
    margin-left: -37px;
    position: absolute;
    left: 50%;
    top: -38px;
}

.card i {
    background: var(--white);
    border-radius: 100%;
    color: var(--black);
    cursor: default;
    display: inline-block;
    font-size: 2.25rem;
    padding: 20px;
    height: 76px;
    width: 76px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.card:hover i {
    background: var(--pink-dark);
    color: var(--white);
}

.card a:hover {
    text-decoration: none;
}

.cards.empty .card {
    padding: 30px 20px;
    margin: 15px 0;
}

.cards.empty .card:nth-child(odd) {
    padding: 30px 20px;
    margin-top: 50px;
}

.cards.empty .card:hover {
    background-color: var(--grey-light2);
    border-color: var(--grey);
    cursor: cell;
}

/*Key Skills*/
.key-skills ul {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.key-skills li {
    margin: 15px 0;
}

.key-skills li i {
    margin-right: 10px;
    font-size: .935rem;
}

.key-skills .pic {
    margin: 40px 0 0;
}

/*My Work List*/
.my-work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.my-work-list .item {
    margin: 0;
    width: 100%;
}

.my-work-list .img-wrapper {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.my-work-list .img-wrapper i {
    position: absolute;
    top: -15%;
    left: -15%;
    display: inline-block;
    border-radius: 50%;
    border: 50px solid var(--pink);
    outline-style: solid;
    outline-color: var(--black);
    outline-width: 50px;
    z-index: 999;
    opacity: .3;
}

.my-work-list .item:nth-child(odd) .img-wrapper i {
    left: inherit;
    right: -15%;
}

.my-work-list .img-wrapper:hover {
    cursor: zoom-in;
}

.my-work-list .img-wrapper:hover i,
.my-work-list .img-wrapper:focus i {
    border: 50px solid var(--black);
    outline-color: var(--pink);
    transition: all 0.35s ease;
}

.my-work-list .img-wrapper img {
    width: 100%;
    transition: 0.3s;
}

.my-work-list .img-wrapper:hover img {
    transform: scale(1.1);
}

.my-work-list .item h2 {
    color: var(--black);
    display: inline-block;
    width: auto;
    font-size: 1.325rem;
    margin: 20px 0 0;
    position: relative;
}

.my-work-list .item h2 a:hover {
    color: var(--white);
    text-decoration: none;
}

.my-work-list .item h2 a:before,
.my-work-list .item h2 a:after {
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.my-work-list .item h2 a:before {
    right: -15px;
    top: 2px;
    border-left: 3px solid var(--pink-dark);
    border-top: 3px solid var(--pink-dark);
    -webkit-transform: translate(100%, 50%);
    transform: translate(100%, 50%);
}

.my-work-list .item h2 a:after {
    right: -20px;
    bottom: 2px;
    border-right: 3px solid var(--pink-dark);
    border-bottom: 3px solid var(--pink-dark);
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.my-work-list .item h2 a:hover:before,
.my-work-list .item h2 a:hover:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

/* employer list*/
.employer-list {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.employer-list li {
    border: 1px solid var(--grey-light);
    margin: 50px 0;
    padding: 20px;
    position: relative;
}

.employer-list li i {

    margin-right: 12px;
    font-size: .625rem;
}

.employer-list li i.num {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(168, 168, 168, 1) 100%);
    border-radius: 6px;
    font-size: 2.5rem;
    margin: 0;
    position: absolute;
    top: 15px;
    left: inherit;
    right: 15px;
    width: 64px;
    opacity: 0.3;
}

.employer-list h3 {
    margin: 0 30px 0 0;
}

.employer-list h3 span {
    display: block;
    color: var(--grey);
    float: none;
    font-size: .825rem;
    margin: 15px 0 0;
}

.employer-list li p {
    margin: 8px 0;
}

.employer-list .pic {
    margin: 40px 0 0;
}


/*Contact page*/
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact * {
    display: block;
    width: 100%;
    margin: 0;
}

.contact h5 {
    color: var(--pink-dark);
}

.contact i {
    display: inline-block;
    width: auto;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.back-to-top i {
    color: var(--white);
    font-size: 3rem;
}

.back-to-top:hover i {
    color: var(--pink-dark);
}

@media (min-width: 768px) {
    .px-10 {
        padding: 0 10%;
    }

    .navbar .collapse {
        width: 500px;
        right: -500px;
    }

    .container {
        padding: 0;
    }

    .content-heading:before {
        display: block;
    }

    .footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer .nav.social {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .banners {
        flex-wrap: inherit;
    }

    .banners .color-bg {
        width: 33.3%;
    }

    .hero-banner {
        min-height: 600px;
    }

    .hero-banner h2,
    .hero-banner h3,
    .hero-banner h4,
    .hero-banner h5 {
        font-weight: 700;
    }

    .hero-banner h2 {
        font-size: 5rem;
    }

    .hero-banner h3 {
        font-size: 4.065rem;
    }

    .hero-banner h4 {
        font-size: 2.815rem;
    }

    .hero-banner h5 {
        font-size: 1.875rem;
    }

    .card {
        width: 30%;
    }

    .key-skills .pic {
        margin-left: 80px;
    }

    .my-work-list .item {
        width: 46%;
    }

    .my-work-list .item h2 {
        margin: 20px 50px 0;
    }

    .my-work-list .item:nth-child(odd) {
        margin-top: 60px;
    }

    .my-work-list .img-wrapper {
        padding: 60px;
    }

    .my-work-list .img-wrapper i {
        border: 100px solid var(--pink);
        outline-width: 100px;
    }

    .my-work-list .img-wrapper:hover i,
    .my-work-list .img-wrapper:focus i {
        border: 100px solid var(--black);
    }

    .employer-list li {
        padding: 50px;
    }

    .employer-list li i.num {
        font-size: 4rem;
        left: calc(50% - 32px);
    }

    .employer-list h3 {
        margin: 0 0 15px;
    }

    .employer-list h3 span {
        display: inline-block;
        float: right;
        font-size: .725rem;
    }

    .back-to-top {
        bottom: 70px;
        right: 50px;
    }
}

@keyframes slide-in {
    from {
        right: -500px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes slide-out {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -500px;
    opacity: 0;
  }
}

.window.banner {
    border-radius: 0 !important;
}

.window.banner .message {
    font-family: system-ui;
}

.window.banner .message #plcy-lnk {
    display: none !important;
}

.window.banner .message .policylink {
    position: relative;
    text-decoration: none !important;
}

.window.banner .message .policylink:before {
    background-color: var(--yellow);
}

.limitF {
    position: fixed;
    top: 20vh;
    height: 50vh;
    width: 0;
    opacity: .6;
}

.limitH {
    position: fixed;
    top: 40vh;
    width: 10%;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 8s;
    opacity: 0;
}

.limitQ {
    position: fixed;
    top: 60vh;
    height: 50vh;
    width: 0;
    opacity: .3;
}

.full {
    width: 100%;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
    opacity: 1;
}

.limitF.full {
    border-top: 2px solid var(--red-light);
    transition: width 2s;
}

.limitH.full {
    border-top: 2px solid var(--yellow);
    transition: width 5s;
}

.limitQ.full {
    border-top: 2px solid var(--blue);
    transition: width 7s;
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}