@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #101010;
    --white: #ffffff;
    --grey: #999;
    --grey-dark: #505050;
    --grey-light: #e2e2e2;
    --red: #ff4c37;
    --blue: #08C2FF;
    --green: #00C472;
    --yellow: #F3C623;
}

body {
    color: var(--black);
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: normal;
    margin: 0;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Zilla Slab", serif;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

strong {
    font-weight: 700;
}

small,
.small {
    font-size: 12px;
}

a {
    color: var(--red);
    text-decoration: none;

    &:is(:hover, :focus) {
        color: var(--grey-dark);
        text-decoration: underline;
    }
}

iframe {
    width: 100%;
    height: 100vh;
}

input[type="submit"] {
    cursor: pointer;
}

.form-input {
    border: 1px solid var(--grey-light);
}

/*buttons*/
.btn {
    border-radius: 2px;
    display: inline-block;
    padding: 15px 40px;
    transition: all .9s ease;
    position: relative;
    z-index: 1;

    &.btn:is(:hover, :focus) {
        text-decoration: none; 
    }
}

.btn-primary {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
    
    &.btn-primary:is(:hover, :focus) {
        background-color: var(--black);
        border-color: var(--black);
        color: var(--white);
    }
}

.btn-primary {
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--grey-dark);
        transition: all .9s ease;
    }

    &:hover {
        &:after {
            top: auto;
            bottom: 0;
            height: 100%;
        }
    } 
}

/*colors*/
.text-red {
    color: var(--red);   
}

.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.text-yellow {
    color: var(--yellow);
}

.color-bg {
    overflow: hidden;
    position: relative;

    &.black {
        background-color: var(--black);
    }
}

/*Footer*/
.footerNav {
    &.nav {
        .nav-item {
            margin: 0 30px 0 0;
        }
        .nav-link {
            color: var(--red);
            font-size: 16px;
            padding: 4px 0;
            position: relative;

            &:hover {
                color: var(--black);
            }

            &.active {
                color: var(--black);
            }
        }
    }
}

/*Nav Bar*/
.navToggle input:checked ~ ul {
    transform: none;
}

.navToggle {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        color: var(--white);
        transition: color 0.3s ease;

        &:hover {
            color: var(--red);
        }
    }

    label {
        display: none;
    }

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    span {
        display: block;
        width: 34px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--grey-dark);
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

        &:nth-last-child(3) {
            transform-origin: 0% 100%;
            width: 28px;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
            width: 22px;
        }
    }

    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--white);
    
        &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
            width: 34px;
        }
    } 
}

.menu {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background: rgba(0,0,0,0.95);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    li {
        margin: 15px 0;
        font-size: 22px;
    }

    .nav-link {
        color: var(--white);
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        margin: 10px 0;
        padding: 0 15px;
        position: relative;

        &:is(:hover, :focus),
        &.active {
            color: var(--grey-dark);
            text-decoration: none;
        }

        &:before,
        &:after {
            content: '';
            height: 7px;
            width: 7px;
            position: absolute;
            opacity: 0;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        &:before {
            left: 0;
            top: 0;
            border-left: 3px solid var(--red);
            border-top: 3px solid var(--red);
            -webkit-transform: translate(100%, 50%);
            transform: translate(100%, 50%);
        }

        &:after {
            right: 0;
            bottom: 0;
            border-right: 3px solid var(--red);
            border-bottom: 3px solid var(--red);
            -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
        }

        &:hover:before,
        &:hover:after {
            -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
            opacity: 1;
        }

        &.active:before,
        &.active:after {
            display: none;
        }
    }
}

.link {
    display: inline-block;
    line-height: 14px;
    padding: 0 0 4px;
    position: relative;

    &:is(:hover, :focus) {
        color: var(--red);
        text-decoration: none;
    }

    &:before,
    &:after {
        content: "";
        background-color: var(--red);
        display: block;
        -webkit-transition: all 0.55s ease;
        transition: all 0.55s ease;
        position: absolute;
        bottom: -5px;
        width: 0;
        height: 1px;
    }

    &:before {
        left: 50%;
    }

    &:after {
        right: 50%;
    }

    &:hover:before,
    &:hover:after {
        width: 50%;
    }
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.text-gradiant {
    -webkit-text-fill-color: #fff0;
    background: -webkit-linear-gradient(313deg,var(--red),var(--red),var(--grey-dark),var(--grey-dark));
    -webkit-background-clip: text;
    background-clip: text;
}

.banners {
    .color-bg {
        min-height: 360px;
        padding: 80px 30px;
        transition: transform 0.5s;

        * {
            transition: transform 0.3s;
        }
    }

    h2 {
        font-size: 48px;
        line-height: 45px;
        font-weight: 700;
        margin: 0 0 20px;
    }

    h3 {
        color: var(--white);
        font-size: 14px;
        margin: 0;
    }

    div:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

/* Cards */
.card {
    border: 1px solid var(--grey-light);
    padding: 70px 30px 30px;
    position: relative;

    h4 {
        color: var(--black);
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin: 0 0 20px;
    }

    p {
        color: var(--black);
        margin: 0 0 20px;
    }

    .icon {
        margin-left: -37px;
        position: absolute;
        left: 50%;
        top: -38px;
    }

    i {
        background: var(--white);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        color: var(--black);
        cursor: default;
        display: inline-block;
        font-size: 36px;
        padding: 12px 20px 20px 20px;
        height: 76px;
        width: 76px;
        text-align: center;
        transition: all .3s ease-in-out;
    }

    &:hover{
        border: 1px solid var(--red);
        cursor: pointer;
        
        i {
            background: var(--red);
            color: var(--white);
        }

        h4 {
            color: var(--red);
        } 
    } 

    a:hover {
        text-decoration: none;
    }
}

.cards {
        .card {
            background: var(--black);

            h3 {
                color: var(--white);
                font-size: 2.2rem;
                line-height: 40px;
            }

        p {
            color: var(--white);
        }

        &:hover h3 {
            color: var(--red);
        }

        &:after {
            content: "";
            background-color: var(--red);
            display: block;
            -webkit-transition: all 0.55s ease;
            transition: all 0.55s ease;
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 0;
            height: 1px;
        }

        &:hover:after {
            width: 100%;
        }          
    }
}

/*Key Skills*/
.key-skills {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 15px 0;

        i {
            margin-right: 10px;
            font-size: 14px;
        }
    }
    .pic {
        margin: 40px 0 0;
    }
}

/*Tools*/
ul.tools {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 30px 0;
        width: 50%;
        text-align: center;

        i {
            color: var(--black);
            font-size: 54px;
            line-height: 54px;
            margin: 0;
        }

        h3 {
            color: var(--black);
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 0;
        }

        &:hover, &:focus {
            cursor: pointer;

            i {
                color: var(--red);
            }
        }
    }    
}


/*My Work List*/
.my-work-list {
    .img-wrapper {
        max-height: 400px;
        overflow: hidden;
        position: relative;

        i {
            position: absolute;
            top: -15%;
            left: -15%;
            display: inline-block;
            border-radius: 50%;
            border: 50px solid var(--red);
            outline-style: solid;
            outline-color: var(--black);
            outline-width: 50px;
            z-index: 9;
            opacity: .3;
        }

        &:hover i,
        &:focus i {
            border: 50px solid var(--black);
            outline-style: dotted;
            outline-color: var(--red);
            transition: all 0.35s ease;
            transform: rotate(90deg);
            opacity: 1;
        }

        img {
            width: 100%;
            transition: 0.3s;
        }

        &:hover img {
            transform: scale(1.4);
        }   
    }

    .item:nth-child(odd) .img-wrapper i {
        left: inherit;
        right: -15%;
    }

    &:hover {
        .item:not(:hover) {
            opacity: .5;
        }
    }

    .item {
        h2 {
            font-size: 16px;
        }

        span {
            display: inline-block;
            border-radius: 15px;
            font-size: 12px;
            padding: 5px 14px;
            margin: 5px 5px 5px 0;
        }
    }
}

/* employer list*/
.employer-list {
    list-style: none;
    padding: 0;

    li {
        border: 1px solid var(--grey-light);
        box-shadow: 0 8px 5px var(--grey-light);
        margin: 10px 0 30px 0;
        padding: 20px;
        position: relative;

        &:hover {
            border: 1px solid var(--red);

            h3 strong {
                color: var(--red);
            }

            i.num {
               background: var(--red);
               color: var(--white);
            }
        }

        p {
            margin: 8px 0;
        }

        i:before {
            display: none;
        } 

        i.num {
            background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(168, 168, 168, .7) 100%);
            border: 1px solid var(--white);
            border-top: 0;
            border-right: 0;
            border-radius: 0 0 0 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            font-weight: bold;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 54px;
            height: 54px;
        }  
    }

    h3 {
        font-size: 22px;
        margin: 0 30px 0 0;

        span {
            display: block;
            color: var(--grey);
            float: none;
            font-size: 13px;
            margin: 15px 0 0;
        }
    }

    .pic {
        margin: 40px 0 0;
    }
}


/*Contact page*/
.contact {
    h5 {
        color: var(--red);
    }

    i {
        display: inline-block;
        width: auto;
    }
}

.backtoTop {
    display: none;
    bottom: 80px;
    animation: moveUp .4s linear;

    i {
        color: var(--red);
        font-size: 48px
    }

    &:hover i {
        color: var(--black);
    }

    span {
        display: none;
    } 
}

@keyframes moveUp {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 80px;
  }
}

.socialIcons {
    display: none;
    right: 20px;
    animation: moveRight .4s linear;

    .bi {
        &:before {
            font-size: 24px;
        }
    }

    span {
        display: none;
    }
}

@keyframes moveRight {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

.footerNav,
.resuMe,
.copyRight {
    display: none;
}

@media (min-width: 481px) {
    ul.tools {
        li {
            width: 33%;
        }
    } 
}

@media (min-width: 768px) {
    .navToggle {
        right: 40px;
    }

    ul.tools {
        li {
            width: 20%;
        }
    }
    
    .my-work-list {
        .item:nth-child(odd) {
            margin-top: 60px;
        }

        .img-wrapper {
            i {
                border: 70px solid var(--red);
                outline-width: 70px;
            }

            &:hover i,
            &:focus i {
                border: 70px solid var(--black);
            }        
        }
    }

    .employer-list {
        li {
            padding: 50px;

            i.num {
                font-size: 38px;
            }
        }

        h3 {
            font-size: 28px;
            margin: 0 0 15px;

            span {
                display: inline-block;
                float: right;
                font-size: 12px;
            }       
        }
    }

    .backtoTop {
        bottom: 80px;
        animation: moveUp .4s linear;
    }

    @keyframes moveUp {
      0% {
        bottom: 0;
      }
      100% {
        bottom: 80px;
      }
    }

    .socialIcons {
        animation: moveRight .4s linear;
    }

    @keyframes moveRight {
      0% {
        right: -100px;
        opacity: 0;
      }
      100% {
        right: 10px;
        opacity: 1;
      }
    }

    .copyRight {
        right: 20px;
        animation: copyRight .4s linear;
    }

    @keyframes copyRight {
      0% {
        right: -100px;
        opacity: 0;
      }
      100% {
        right: 20px;
        opacity: 1;
      }
    }

    .footerNav {
        bottom: 10px;
        animation: bottomNav .1s linear;
    }

    @keyframes bottomNav {
      0% {
        bottom: -100px;
        opacity: 0;
      }
      100% {
        bottom: 10px;
        opacity: 1;
      }
    }

    .resuMe {
        right: 20px;
        animation: resuMe .4s linear;
    }

    @keyframes resuMe {
      0% {
        right: -100px;
        opacity: 0;
      }
      100% {
        right: 20px;
        opacity: 1;
      }
    }
}